---
layout: layout.liquid
title: Planets
---
<h1 class="title">Planetary Playing Cards</h1>

<div class="planets">
    <div class="planet sun">
        <div class="circle sun"></div>
        <p class="name">Sun</p>
        <p class="au">Type G2V</p>
    </div>
    <div class="planet mercury">
        <div class="circle mercury"></div>
        <p class="name">Mercury</p>
        <p class="au">0.39 AU</p>
    </div>
    <div class="planet venus">
        <div class="circle venus"></div>
        <p class="name">Venus</p>
        <p class="au">0.72 AU</p>
    </div>
    <div class="planet earth">
        <div class="circle earth"></div>
        <p class="name">Earth</p>
        <p class="au">1 AU</p>
    </div>
    <div class="planet mars">
        <div class="circle mars"></div>
        <p class="name">Mars</p>
        <p class="au">1.52 AU</p>
    </div>
    <div class="planet jupiter">
        <div class="circle jupiter"></div>
        <p class="name">Jupiter</p>
        <p class="au">5.20 AU</p>
    </div>
    <div class="planet saturn">
        <div class="circle saturn"></div>
        <p class="name">Saturn</p>
        <p class="au">9.54 AU</p>
    </div>
    <div class="planet uranus">
        <div class="circle uranus"></div>
        <p class="name">Uranus</p>
        <p class="au">19.22 AU</p>
    </div>
    <div class="planet neptune">
        <div class="circle neptune"></div>
        <p class="name">Neptune</p>
        <p class="au">30.06 AU</p>
    </div>
</div>