:root{
    --bg-color: #333;
    --title-color: #fff;
    --planet-card-color: #ccc;
    --circle-color: #fff;
    --text-color: #000;
    --sun-color: radial-gradient(circle, #ffdc00 0%, #ff8a00 50%, #ff6d00 100%);
    --mercury-color: radial-gradient(circle, #9e9e9e 0%, #b3b3b3 50%, #8c8c8c 100%);
    --venus-color: radial-gradient(circle, #edd382 0%, #da9 50%, #f3c200 100%);
    --earth-color: radial-gradient(circle, #0077be 0%, #33a532 20%, #0077be 75%);
    --mars-color: linear-gradient(#d57e14, #c70909);
    --jupiter-color: radial-gradient(circle, #ca6702 0%, #bb3e03 25%, #9b5a00 50%);
    --saturn-color: radial-gradient(circle, #f4c542 0%, #e8d174 50%, #cdaa6b 100%);
    --uranus-color: linear-gradient(#ffffff, #0000a4);
    --neptune-color: radial-gradient(circle, #2d68c4 0%, #8aafe1 50%, #003d99 100%);
    --footer-color: #ccc
}

body {
    font-family: Helvetica, sans-serif;
    background: var(--bg-color);
    padding: 0 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
    text-align: left;
    color: var(--title-color);
    margin-left: 10vh;
}

.planets{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    grid-auto-rows: 30vh;
    gap: 3vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20vh;
}

.planet{
    background-color: var(--planet-card-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}

.planet:hover{
    box-shadow: 0 0 2em white;
}

.planet.sun{
    grid-column: span 2;
    grid-row: 1 / 3;
}

.circle{
    border-radius: 50%;
}

.circle.sun{
    background: var(--sun-color);
    width: 25vw;
    height: 25vw;
}

.circle.mercury{
    background: var(--mercury-color);
    width: 5vw;
    height: 5vw;
}

.circle.venus{
    background: var(--venus-color);
    width: 6vw;
    height: 6vw;
}

.circle.earth{
    background: var(--earth-color);
    width:  6vw;
    height: 6vw;
}

.circle.mars{
    background: var(--mars-color);
    width: 5vw;
    height: 5vw;
}

.circle.jupiter{
    background: var(--jupiter-color);
    width: 6vw;
    height: 6vw;
}

.circle.saturn{
    background: var(--saturn-color);
    width: 5vw;
    height: 5vw;
}

.circle.uranus{
    background: var(--uranus-color);
    width: 5vw;
    height: 5vw;
}

.circle.neptune{
    background: var(--neptune-color);
    width: 5vw;
    height: 5vw;
}

p{
    color: var(--text-color);
}

.name{
    font-weight: bold;
    padding-top: 2vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--footer-color);
    color: var(--text-color);
    text-align: center;
    text-justify: inter-word;
    width: 100vw;
    height: 10vh;
    margin-top: auto;
}